.img-invert {
  filter: invert(1);
}

.login-box {
  max-width: rem(400);
  margin-inline: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: rem(60);
  align-items: center;
  background-color: rgba(#000, 0.3);
  padding: rem(60);
  border: 2px solid;
  border-image: linear-gradient(45deg, var(--primary), var(--secondary)) 1;
}

.page-bg {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

// dashboard layout
.dashboard-layout {
  display: grid;
  grid-template-areas: "side nav" "side main";
  grid-template-columns: rem(300) auto;

  .sn-aside {
    grid-area: side;
    padding: rem(24);
    background: rgba(#000, 0.6);
    backdrop-filter: blur(6px);

    &-list {
      li {
        margin-bottom: rem(16);

        a,
        .btn-link {
          display: flex;
          font-weight: 300;
          gap: rem(16);
          padding: rem(16);
          font-size: rem(16);
          border-radius: rem(4);
          color: var(--white);
          transition: background-color 0.3s var(--ease-spring);

          &:hover {
            background-color: rgba($primary-color, 0.15)
          }
        }

        .btn-link {
          width: 100%;
        }

        &.active {
          a {
            background-color: rgba($primary-color, 0.5);
          }
        }
      }
    }
  }

  .logo-outer {
    img {
      width: auto;
      object-fit: contain;
      margin-bottom: rem(40);
    }
  }

  .sn-nav {
    grid-area: nav;
    padding: rem(16) rem(24);
    background-color: rgba(#fff, 0.1);
    display: flex;
    gap: rem(24);
    font-size: rem(14);
    height: $nav-size;

    time {
      display: inline-flex;
      align-items: center;
      gap: rem(16);
      font-weight: 400;
    }

    .change-theme {
      margin-left: auto;
    }

    &-user {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        margin-right: rem(8);
      }

      .user-info {
        display: flex;
        flex-direction: column;
      }

      .user-email {
        font-size: rem(12);
        font-weight: 200;
        color: rgba(#fff, 0.5);
        margin-top: rem(4);
      }
    }
  }

  main {
    height: calc(100vh - $nav-size);
    overflow: auto;
    padding: rem(24) rem(40);
  }

  .sn-form-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(48)
  }

  .sn-main-table {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(24);
    }

    h2 {
      margin-block: rem(32)
    }

    img {
      object-fit: contain;
    }

    table {
      background-color: var(--white);
      color: var(--text);
      border-collapse: collapse;
      width: 100%;

      th,
      td {
        padding: rem(8);
        border: rem(1) solid var(--border-light);
        text-align: left;
      }

      .bg-span {
        width: rem(20);
        height: rem(20);
        border-radius: 50%;
        display: block;
      }

      .span-attribute {
        margin-left: rem(8);
        font-size: rem(14);
      }

      button,
      .btn-link {
        color: var(--white);
        padding: rem(6) rem(12);
        font-size: rem(16);
        border-radius: rem(4);
      }

      .btn-edit {
        background-color: var(--primary);
        margin-right: rem(16);
      }

      .btn-delete {
        background-color: var(--page-color-red-light);
      }
    }
  }
}

.sn-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(24);
  max-width: rem(400);
  margin-top: rem(40);

  .btn {
    margin-top: rem(24);
  }
}

.sn-input {
  width: 100%;
  padding: rem(12) rem(16);
  font-size: rem(16);

  &:focus {
    outline: 1px solid var(--primary);
  }
}

.sn-input-label-set {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: rem(16);
  margin-bottom: rem(16);
}

.sn-input-upload,
.sn-input-color {
  input {
    @include hide-input;
  }
}

.color-picker {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  border: rem(1) solid var(--white);
}

.upload-file {
  background-color: var(--white);
  color: var(--secondary);
  padding: rem(12) rem(16);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);

  label {
    svg {
      display: none;
    }
  }
}

.category {
  &-bg {
    width: rem(150);
    height: rem(150);
    border-radius: 50%;
  }

  &-name {
    color: #000;
    text-align: center;
    margin-top: rem(20);
    position: relative;
    z-index: 1;
  }

  &-img,
  &-bg {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }

  &-img {
    z-index: 1;
    color: var(--text);

    img {
      object-fit: contain;
    }
  }
}

.preview-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--white);
  padding: rem(60);
  margin-top: rem(24);

  svg {
    margin: 0 auto;
    position: relative;
    top: -10px;
  }
}

.sn-multi-select {
  width: 100%;

  >div {
    cursor: pointer;

    >div {
      border-radius: 0;
      padding: rem(5) rem(6);

      &:last-child {
        color: #000;
        cursor: pointer;
      }
    }
  }

  #react-select-category-attribute-placeholder {
    color: rgb(117, 117, 117)
  }

  svg {
    color: var(--text);

    path {
      fill: currentColor;
    }
  }
}